@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://s3-eu-west-1.amazonaws.com/alces-flight/resources/www/fonts/AlcesFlight/style.css");
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*  text-transform: uppercase; */
  font-weight: 700; }

#nav .navbar {
  height: 75px; }

#nav .navbar, .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9); }

#nav .navbar .dropdown-toggle:after {
  align-self: center;
  margin-left: 5px;
  display: none; }

#nav .navbar #nav-menu-more:after {
  display: block; }

#trailer-section {
  height: 100vh;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0; }

#trailer-container {
  min-height: 100%;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: relative; }

#trailer {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#nav nav a.nav {
  font-size: 12px;
  color: white; }
  #nav nav a.nav.dropdown-item:hover {
    background-color: #586775; }

a.nav.nav-separator {
  border-right: 1px dotted #586775; }

#nav nav .btn {
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold; }

img {
  max-width: 100%; }

p, ul li {
  font-size: 28px;
  line-height: 1.4; }

.subpage p, .subpage ol li, .subpage ul li, .subpage address, .subpage table {
  font-size: 20px; }
.subpage h3 {
  margin-top: 30px; }
.subpage address {
  margin-left: 40px; }

.service-page .text-wall p, .service-page .text-wall ol li, .service-page .text-wall ul li, .service-page .text-wall address, .service-page .text-wall table {
  font-size: 20px; }
.service-page section {
  padding-top: 70px;
  padding-bottom: 70px; }
  .service-page section .row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .service-page section .row.leader {
      padding-bottom: 0px;
      padding-top: 60px;
      margin-bottom: 0;
      margin-top: 0; }
  .service-page section.section-black {
    padding-top: 10px;
    padding-bottom: 0; }

section {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px; }
  section .row {
    margin-top: 25px;
    margin-bottom: 25px; }

@media (min-width: 768px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0; }

  a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden; }

  .row {
    margin-top: 45px;
    margin-bottom: 45px; } }
@media (min-width: 992px) {
  .section-black {
    padding-top: 0;
    padding-bottom: 0; }

  .top-return {
    visibility: hidden; } }
h2 {
  margin-bottom: 10px; }

.section-atomic h2 {
  margin-top: 45px; }

.section-blue {
  background-color: #225584; }

.section-green {
  background-color: #848e59; }

.section-purple {
  background-color: #7c2567; }

.section-grey {
  background-color: #303130; }

.section-black.section-right {
  padding-left: 0;
  padding-right: 40px; }

.section-black.section-left {
  padding-left: 40px;
  padding-right: 0; }

.section-black {
  background-color: black; }

.leader div:nth-child(1) {
  padding-left: 0; }
.leader div:nth-child(2) {
  margin-left: 20px;
  padding-right: 0; }

.section-bblue {
  background-color: #3288bc; }

.subtitle {
  font-size: 32px !important; }

section a {
  color: #cae4f6;
  text-decoration: underline; }
  section a.btn {
    text-decoration: none; }
  section a:hover {
    color: white; }

.leader.row {
  margin-top: 0;
  margin-bottom: 0; }

.leader img {
  width: 100%;
  padding: 0 !important; }

.leader .d-flex {
  padding: 0; }

.leader h1 {
  color: #3288bc;
  font-size: 56px; }

.bullets {
  font-size: 34px; }

.bullets i {
  margin-right: 5px; }

.bullet {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7), -1px -1px 0 rgba(255, 255, 255, 0.7), 1px -1px 0 rgba(255, 255, 255, 0.7), -1px 1px 0 rgba(255, 255, 255, 0.7); }

.map {
  width: 500px;
  border: 5px solid #ccc;
  margin-top: 5px; }

.navbar-brand img {
  max-height: 50px; }

footer img {
  max-height: 200px;
  margin-bottom: 20px; }

footer .row {
  margin-top: 20px;
  margin-bottom: 20px; }

footer section.section-black {
  padding-top: 40px; }

footer p {
  font-size: 20px;
  vertical-align: middle;
  padding-top: 20px; }

footer p i.fa {
  font-size: 52px;
  vertical-align: middle;
  margin-right: 20px; }

footer #footer-nav .row {
  margin: 0; }

footer a.nav {
  padding: 0 10px 0 10px !important; }

footer span.copyright {
  padding: 0 10px 0 10px !important;
  font-weight: bold; }

.btn-outline {
  border: 1px solid white; }

.cc-banner {
  transform: translate(0, 60px); }

#cookie-widget {
  position: fixed;
  bottom: 0;
  right: 50px;
  background: rgba(127, 127, 127, 0.6);
  color: #d0d0d0;
  border-radius: 20px 20px 0 0;
  padding: 2px 20px;
  font-weight: bold;
  cursor: pointer; }

.top-return {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 25px; }

.section-contact p {
  font-size: 36px; }
  .section-contact p a {
    text-decoration: none;
    vertical-align: middle; }
  .section-contact p i {
    padding-right: 10px;
    font-size: 48px;
    vertical-align: middle; }
