/* add css module styles here (optional) */

.DropdownToggle::after {
    margin-top: auto;
    margin-bottom: auto;
}

.inlineButton {
    padding: 0;
    vertical-align: unset;
}

.userBlock {
    line-height: 1;
}

